<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head', {name: name}); %>
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1>Hi <%= name %>!!</h1>
                <h2>Available links</h2>
                <ul>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/books-liked">Liked Books</a></li>
                    <li><a href="/books-to-readlater">Read Later Books</a></li>
                    <% if (user.role == "admin"){%>
                        <li>
                            <a href="/add-books"> Add a new Book</a>
                        </li>    
                        <li>
                            <a href="/books"> Update a Book</a>
                        </li>
                        <li>
                            <a href="/books"> Delete new Book</a>
                        </li>
                        <li>
                            <a href="/add-new-user"> Add new User</a>
                        </li>
                        <li>
                            <a href="/users"> Update a user</a>
                        </li>
                        <li>
                            <a href="/users"> Delete a user</a>
                        </li>
                    <% } %>
                </ul>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>
