<h1> Sign up form </h1>
 
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password">
    </div>
    <button type="submit">Submit</button>
</form>
 
<h1>This is home page</h1>
 
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>